micronaut:
  application:
    name: scheduleEngine

datasources:
  default:
    url: jdbc:h2:./data/scheduledb;AUTO_SERVER=TRUE
    driverClassName: org.h2.Driver
    username: sa
    password: ''
    dialect: H2

jpa:
  default:
    properties:
      hibernate:
        hbm2ddl:
          auto: update
        show_sql: false
