spring:
  application:
    name: schedule-engine
  datasource:
    url: jdbc:h2:./data/scheduledb;AUTO_SERVER=TRUE
    driverClassName: org.h2.Driver
    username: sa
    password: ''
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

